.banner {
    margin-top: 120px;

    &__box {
        background: linear-gradient(97deg, #F4E4F6 15.42%, #F5F0F5 81.45%);
        border-radius: 20px;
        display: flex;
        position: relative;
        overflow: hidden;

        &::before,
        &::after {
            content: "";
            position: absolute;
            right: 0px;
            border: 4px solid #E2D6E4;
            z-index: 1;

            @media #{$mq-mobile} {
                
            }
        }

        &::before {
            width: 592.649px;
            height: 581px;
            border-radius: 592.649px;
            bottom: -400px;
            right: -102px;
            
            @media #{$mq-mobile} {
                width: 269.789px;
                height: 264.486px;
                transform: rotate(14.833deg);
                right: -217px;
                bottom: -2px;
                border: 2px solid #BFA1C5;
                opacity: 0.8;
            }
        }

        &::after {
            width: 604px;
            height: 604px;
            border-radius: 604px;
            right: -301px;

            @media #{$mq-mobile} {
                width: 269.789px;
                height: 264.486px;
                transform: rotate(14.833deg);
                border-radius: 604px;
                right: -33px;
                border: 2px solid #E2D6E4;
                bottom: -102px;
            }


        }

        @media #{$mq-mobile} {
            flex-direction: column;
        }
    }

    &__box-content {
        padding: 104px 10px 104px 80px;
        max-width: 675px;
        width: 100%;

        span {
            font-size: 28px;
            color: var(--black, #111);
            font-weight: 700;
            line-height: 38px;
        }

        p {
            font-size: 18px;
            margin-top: 20px;
        }

        a {
            margin-top: 35px;
            max-width: 256px;

            @media #{$mq-mobile} {
                max-width: 100%;
                font-size: 16px;
            }
        }

        @media #{$mq-mobile} {
            padding: 30px 20px;
            max-width: 100%;

            span {
                font-size: 22px;
                font-weight: 700;
                line-height: 30px;
            }

            p {
                font-size: 16px;

                line-height: 25px;
            }

            a {
                margin-top: 12px;
            }
        }
    }

    &__box-right {
        display: flex;
        width: 100%;
        align-self: end;
        margin-right: 73px;
        position: relative;

        img {
            width: 100%;
            object-fit: cover;
            position: relative;
            z-index: 2;
        }

        @media #{$mq-mobile} {
            margin-right: 0px;
            justify-content: center;

            img {
                max-width: 448.445px;
                max-height: 299px;
            }
        }
    }

    &__box-suntext {
        position: absolute;
        display: block;
        background: #fff;
        padding: 10px;
        box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.2);
        border-radius: 13px;
        transform: rotate(17.186deg);
        right: -35px;
        top: 82px;
        z-index: 3;
        font-size: 16px;
        font-weight: 600;

        &::before {
            content: "";
            background-image: url("/build/website/images/other/polygon.svg");
            position: absolute;
            width: 21px;
            height: 27px;
            background-size: contain;
            background-repeat: no-repeat;
            right: 18px;
            bottom: -22px;
        }

        @media #{$mq-mobile} {
            font-size: 13px;
            font-weight: 600;
            padding: 4px;
            right: auto;
            left: 39%;
            top: 72px;
            transform: translateX(-61%) rotate(30deg);
        }

    }

    @media #{$mq-mobile} {
        margin-top: 57px;
    }

}